<h1>Host File to block ad for AdAway</h1>
<hr />

<h2>Links</h2>
<h4>This come with a whitelist host for Slickdeals</h4>
<a href="hosts">/adaway-hosts</a>
<hr />

<h2>Status</h2>
<h4><b>Total Host Count:</b> {{hostCount}}</h4>
<h4><b>LastUpdate:</b> {{lastUpdate}}</h4>
<hr />